.dashboardPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1030px;
  margin: 0px auto;

  .containerDash {
    width: 100%;
    //max-width: 1500px;
    background: rgb(203, 203, 203);
    border: 1px dashed black;
    margin-top: 30px;
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);

    .form-create-post {
      min-height: 168px;
      border: 1px solid blueviolet;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-family: "OpenSans-Regular", sans-serif;
      font-style: normal;
    }

    .perfil {
      border: 1px solid black;
    }

    .content-posts {
      grid-row-gap: 20px;
      display: grid;
    }

    .post {
      border: 1px dashed rgb(87, 62, 29);
    }
    .magin-auto {
      margin: auto;
    }

    .button,
    .disabled {
      grid-column: 2 / -1;
      display: inline-block;
      //padding: 14.5px 57.9px;
      margin-top: 0px;
      margin-left: auto;
      border: 0;
      border-radius: 0;
      font-family: "OpenSans-Regular";
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      //line-height: 26px;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: white;
      background-color: $buttom-b;
      transition: all 300ms ease;
      border: 1px solid $buttom-b;
      height: 55px;
    }
    .disabled {
      background: #a7abaf;
    }

    .button:hover {
      background-color: #009cd9;
    }
  }

  @media (max-width: 600px) {
    .containerDash {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
